*{
    background-color:#fdf6ee ;
}
.heading
{
color:#0e1c2f;
text-align: center;
justify-content: center;
font-size: xx-large;
font-family: 'Poppins', 'Open Sans', 'Inter', sans-serif;
}
.input
{
    text-align: center;
    justify-content: center;
    font-size: x-large;
    padding: 14px;
}

#num1
{
  height: 50px; 
  width: 300px;
  font-size: 18px; 
  padding: 15px;
  border-radius: 10px;
  cursor: pointer; 
  background-color: white;  
}
#num2
{
  height: 50px; 
  width: 300px;
  font-size: 18px; 
  padding: 15px;
  border-radius: 10px;
  cursor: pointer; 
  background-color: white;  
}
.head
{
color:#0e1c2f;
text-align: center;
justify-content: center;
font-size: x-large;
text-transform: capitalize;
font-family: 'Poppins', 'Open Sans', 'Inter', sans-serif;
font-weight: bold;  
}
.grid-container
{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
  margin: auto;
  width: 300px;
}
.grid-item {
  text-align: center;
}
button {
  width: 110%;
  padding: 20px;
  font-size: 18px;
  font-family: 'Poppins', 'Open Sans', 'Inter', sans-serif;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
}
.add-btn
{
  background-color: #ff6b5e;
  color: white;
}
.subtract-btn
{
  background-color:	#1e4b4b;
  color: white;
}
.multiply-btn
{
  background-color:#2e6650;
  color: white;
}
.divide-btn
{
  background-color: #0e1c2f;
  color: white;
}

.result
{
  text-align: center;
  justify-content: center;
  font-size: x-large;
  padding: 14px;
}
#result-one
{
  height:150px; 
  width: 300px;
  font-size: 18px; 
  padding: 15px;
  border-radius: 10px;
  cursor: pointer; 
  background-color: white; 
}
.head label
{
  text-align: left;
}









































